version: '3.8'

services:
  mongo:
    image: mongo:6.0
    container_name: auth_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password123
      MONGO_INITDB_DATABASE: auth_db
    ports:
      - "27017:27017"
